.footer {
  padding: 95px 0 145px;
  background-color: $bg-green;
  color: $fs-white;
  &__title {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 60px;
  }

  &__list {
    display: inline-flex;
    flex-direction: column;
  }

  &__list-item {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    cursor: pointer;
    transition: all .5s;
    &:hover {
      color: $fs-hover-gray;
    }
  }
  &__list-item + .footer__list-item {
    margin-top: 60px;
  }
}