//Colors fs

$fs-white: #fff;
$fs-black: #000;
$fs-black-light: #292929;
$fs-gray: #424242;
$fs-green: #01996D;

//Colors Bg

$bg-green: #245852;
$bg-btn-green: #01996D;
$bg-btn-hover: #026146;
$bg-white: #fff;
$bg-gray: #E5E5E5;

//Colors border

$border-green: #01996D;